@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    max-width: 480px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 0; 
    overflow-x: hidden;
}

h1 {
    font-size: 15pt;
    font-weight: 700;
}

h3 {
    font-size: 12pt;
}

p, h2, h5 {
    font-size: 11pt;
}

/* Navbar */
.navbar {
    border: 1px solid #e0e0e0;
    position: fixed;
    bottom: 0;
    background-color: white; 
    width: 100%;
    max-width: 480px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 3;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

nav ul .icon {
    margin-bottom: 10px;
}

nav ul .text-icon {
    position: absolute;
    font-size: 11pt;
    top: 30pt;
}

/* Icon Style */
nav .beranda lord-icon {
    width: 32px;
    height: 32px;
}

nav .program lord-icon {
    width: 28px;
    height: 35px;
}

nav .mitra lord-icon {
    width: 35px;
    height: 35px;
}

nav .tentang-kami lord-icon {
    width: 37px;
    height: 37px;
}

/* Beranda */
.beranda .jumbotron {
    display: flex;
    flex-direction: row-reverse;
    overflow-y: auto;
}

.beranda .img-jumbotron {
    width: 45%;
}

.beranda .img-jumbotron img {
    width: 100%;
    height: auto;
}

.beranda .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    padding: 30px;
}

.beranda blockquote p {
    margin-bottom: 3px;

}
.beranda blockquote h5 {
    margin-bottom: 0;
}

.beranda .hero-text button {
    background-color: #006838;
    color: white;
    font-size: 11pt;
    padding: 10px 18px;
}

/* Feature Stats */
.feature-stats {
    display: flex;
    flex-direction: row;
    background-color: #006838;
}

.feature-stats .stat {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1 1 30%;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.feature-stats p,
.feature-stats h2 {
    margin-bottom: 0;
    color: white;
}

.feature-stats h2 {
    font-weight: 700;
}

.feature-stats .stat.border2 {
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

.feature-stats .stat.border1 {
    border-right: 0.5px solid white;
}

.feature-stats .stat.border3 {
    border-left: 0.5px solid white;
}

.feature-stats .tag {
    display: flex;
    flex-direction: column;
}
 
.feature-stats .border1 .tag {
    margin-top: 15px;
}

.feature-stats .border2 .tag {
    margin-top: 5px;
}

.feature-stats .border3 .tag {
    margin-top: 12px;
}

/* About Display - Beranda */
.about-display {
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.about-display .container {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: row;
    padding: 0;
    margin-top: 15px;
}

.about-display .container .logo {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: fit-content;
}

.about-display .logo img {
    width: 67%;
    height: 155px;
    margin-right: 20px;
}

.about-display .container blockquote {
    width: 70%;
    height: auto;
    text-align: left;
    line-height: 1.8;
    margin-bottom: 0;
    padding-right: 20px;
}

/* Join Us - Beranda */
.join-us {
    position: relative;
    text-align: center;
    margin-top: 35px;
}

.join-us blockquote h1 {
    padding: 0px 55px;
    font-weight: 400;
    margin-bottom: 40px;
}

.join-us .prog-kasuh {
    display: flex;
    flex-direction: row;
}

.join-us .prog-kasuh .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    margin-top: 100px;
}

.join-us .prog-kasuh img {
    margin-bottom: -30px;
}

.join-us .prog-kasuh .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006838;
    width: 60%;
    padding: 20px 15px;
    color: white;
    border-radius: 15px;
    text-align: left;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    line-height: 1;
}

.join-us .prog-kasuh .text p {
    font-size: 10pt;
}

.join-us .text p.top,
.join-us .text p.middle {
    margin-bottom: 10px;
}

.join-us .text p.bottom {
    margin-bottom: 0;
}

/* Colaborate - Beranda */
.colaborate {
    background-color: #006838;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px 60px 40px;
    justify-content: center;
}

.colaborate h1 {
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.colaborate button {
    margin-top: 20px;
    width: 150px;
}

/* Contact Us */
.contact-us .container {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.contact-us .text {
    width: 70%;
}

.contact-us .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.contact-us span,
.contact-us p {
    font-size: 11pt;
}

.contact-us .logo img {
    width: 100%;
    height: 155px;
}

.contact-us .media-icon {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contact-us span {
    margin-top: -2px;
}

.contact-us i {
    font-size: 16pt;
}

/* Program */
.program {
    display: flex;
    flex-direction: column;
}

.program .title-program {
    padding: 20px 0px 30px;
    text-align: center;
}

.program .title-program h1 {
    font-size: 14pt;
    color: #006838;
    margin: 0;
}

.program .row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.program .col .card-text {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.program .card-text a {
    color: white;
    font-size: 30pt;
    font-weight: 500;
    z-index: 2;
    width: 50%;
    text-decoration: none;
    line-height: 1.2;
}

.program .row .card {
    border: none;
    position: relative;
}

.program .row img {
    border-radius: 0;
}

.program .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

/* Literasi */
.detail-program {
    background-color: #006838;
    padding: 2.2rem 3.5rem 6rem;
    color: white;
    text-align: justify;
}

.detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-program h3 {
    font-size: 14pt;
    margin-top: 15px;
    text-align: left;
    width: 100%;
}

.detail-program ol {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}

.detail-program ol h4 {
    font-size: 11pt;
}

.detail-program button {
    font-size: 11pt;
    font-weight: bold;
    padding: 10px 18px;
    width: fit-content;
    margin-top: 20px;
}

.detail-program .list-puan {
    width: 100%;
}

/* Jumbotron - Mitra */
.mitra .jumbotron {
    display: flex;
    flex-direction: row-reverse;
}

.mitra .img-jumbotron {
    width: 45%;
    height: fit-content;
}

.mitra .img-jumbotron img {
    width: 100%;
}

.mitra .hero-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 55%;
    height: fit-content;
    padding: 10px;
    padding-bottom: 0px;
}

.mitra .hero-text h1 {
    font-size: 13.5pt;
    color: #006838;
}

.mitra .hero-text p {
    font-size: 10.5pt;
    text-align: justify;
}

.mitra .hero-text button {
    background-color: #006838;
    color: white;
    font-size: 11pt;
    padding: 10px 18px;
    margin-top: -19px;
}

/* Mentor - Mitra */
.mentor {
    padding: 20px;
    padding-bottom: 0;
}

.mentor .title {
    text-align: center;
}

.mentor .about {
    display: flex;
}

.mentor .about p {
    font-size: 10.5pt;
    width: 55%;
    margin-top: 20px;
}

.mentor .about img {
    width: 45%;
}

.mentor .why-to-join {
    display: flex;
    position: relative;
    margin-top: 30px;
}

.mentor .why-to-join .img {
    position: absolute;
    right: -20px;
    bottom: 0;
    z-index: 0;
}

.mentor .why-to-join blockquote {
    width: 72%;
    z-index: 1;
}

.mentor .why-to-join p,
.mentor .why-to-join h4 {
    font-size: 10.5pt;
}

.mentor .why-to-join h4 {
    font-weight: bold;
}

/* Testimonial - Mitra */
.testimonial {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.testimonial .testi {
    display: flex;
    align-items: center;
    background-color: #006838;
    padding: 50px 20px 40px 20px;
}

.testimonial .testi blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: fit-content;
    font-size: 10.5pt;
    color: white;
}

.testimonial blockquote p {
    font-size: 10.5pt;
}

.testimonial blockquote p.name {
    margin-top: 10px;
    margin-bottom: 0;
}

.testimonial blockquote .position,
.testimonial blockquote .institution {
    margin-bottom: 0;
}

.testimonial .img {
    display: flex;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.testimonial .img img {
    width: 150px;
    border-radius: 50%;
}

/* Mitra Section - Mitra */
.mitra-section {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.mitra-section .title {
    text-align: center;
}

.mitra-section .title h1 {
    font-size: 12pt;
}

.mitra-section .top-mitra,
.mitra-section .bottom-mitra {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 20px;
}

.mitra-section .top-mitra {
    margin-bottom: 50px;
}

.mitra-section .bottom-mitra {
    padding: 20px 0px;
}

.mitra-section .top-mitra img,
.mitra-section .bottom-mitra img {
    display: flex;
    width: 100px;
    height: auto;
}

/* Mitra - Contact Us & Footer */
.mitra .contact-us,
.mitra footer {
    background-color: #006838;
    color: white;
}

/* Footer */
footer {
    padding: 20px 0 60px;
    display: flex;
    flex-direction: column;
}

footer svg {
    margin-top: -4px;
}

.bg {
    width: 400px;
    height: 400px;
    margin-bottom: 200px;
}